*{
  box-sizing: border-box; /*le quito todo borde que haya */
  margin: 0;
  padding: 0;
}

header, .formulario, footer{
    min-width: 320px;

    margin: 0 auto;
    width: 100%;
    display: block;
}


p,h1,h3,a{
	color:#E3E7F1;
}
.inicio{
margin-top: 25%;
}
.cambio,.cambio_contrasenia{
  display: block;
  margin-top: 15px;
  text-align: center;
}
.cartel{
  display: block;
  margin-top: 0px;
  text-align: center;
  color:red;
}
header, footer{
  padding: 10px;
  margin: 0 auto;
  height: 70px;
  box-sizing: border-box;
  background-color: #06319A;
}
.cierre_session{
  float:right;
  margin-top: -65px;
}
.formulario{
  background-image: url(../imagenes/imagen.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:calc(100vh - 140px);
}

.formulario_perfil{
  background-image: url(../imagenes/imagen.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:calc(100vh - 70px);
}

.perfil{
  float:left;
}
.recordar{
  margin-top: 0px;
  display: none;

}
.container{
  width: 90%;
  /*height: 79vh;*/
  margin: auto;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.texto, .boton_registro, .boton_borrar, .boton_inicio, .texto_sesion{
  width: 100%;
  display: block;
  margin-top: 5px;
  padding: 5px;

}

h1,h3{
text-align: center;
padding: 5px;
}

footer ul li a{
    color: white;/*le digo al footer que sea un bloque*/
}

footer ul, ul{
    text-align: center;
    list-style: none;/*le digo al footer que se centre*/
}
.estado_soltero{

  float: left;
}

.estado_civil{

  float: right;
}

@media(min-width:426px){
  .container{
    width: 60%;
  }

  .texto,.inicio_sesion{
    margin-top: 10px;
  }

   .botones{
     display: inline-block;
     width: 100%;
   }

  .boton_borrar{
    width: 40%;
    margin-top: 10px;
    float: right;
  }

  .boton_registro{
    width: 40%;
    margin-top: 10px;
    float: left;
  }


}

@media(min-width:769px){
  .container{
    width: 50%;
	overflow: hidden;
  }

  .texto{
    margin-top: 10px;
  }

  .boton_inicio{
    width: 33%;
    padding: 10px;
    float: right;

  }
  .texto_sesion{
    width: 33%;
    display: inline-block;
    padding: 10px;
  }
  .boton_borrar,.boton_borrar{

    margin-top: 15px;
  }


  .recordar{
    display: inline-block;
    float: right;
    margin-top:  -13px;

  }

  .boton_archivo{
    margin-top: 20px;
  }
  footer ul li{
    margin-top: 10px;
    display: inline-block;
  }
}
